/* Write your CSS here. */
.header-bar{
  display: flex;
  justify-content: space-between;
  max-width: auto;
  background-color: rgb(30, 117, 231);
  border-radius: 10px;
  border: 1px solid gray;
}

.header-bar__section{
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 5px;
}

.pf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.wgs {
  width: 320px;
  height: 241px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
    width: 188px;
    height: 178px;
    left: 55px;
    position: absolute;
    transition-property: margin-top;
    transition-duration: .25s;
}

.wgs__dirt-pile {
    width: 320px;
    height: 110px;
    position: absolute;
    bottom: 0px;
}

.wgs__mole-head--hidden {
  margin-top: 291px;
}

.square {
  position: absolute;
  border: 1px solid red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation-name: circleGrow;
  animation-duration: .5s;
}

@keyframes circleGrow {
  from {
    transform: scale(0);
    border-color: rgba(255, 0, 0, 1);
  }

  to{
    transform: scale(5);
    border-color: rgba(255, 0, 0, 0);
  }
}
